:root {
	--border-radius: 12px;

	--color-primary: #ffffff;
	--color-primary-muted: #eeeff0;
	--color-primary-hover: #e7e7e7;
	--color-primary-active: #bdbdbd;
	--color-accent: #6b3c9b;
	--color-accent-hover: #844dba;
	--color-accent-active: #5b2f87;
	--color-text-on-primary: #3b3c3e;
	--color-text-on-primary-dark: #1b1c1e;
	--color-text-on-primary-light: #5b5c5e;
	--color-text-on-accent: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6rem;
	background-color: var(--color-primary);
	color: var(--color-text-on-primary);
}

.Container {
	padding: 0 16px;
}

.AppBar {
	padding: 1.2rem 0.4rem;
	color: var(--color-text-on-primary-dark);
}

.AppContent {
	padding: 10px 0;
}

.IconAdornment {
	display: flex;
	gap: 0.7rem;
	align-items: center;
}

.ViewTitle {
	font-size: 1.25rem;
	line-height: 1.875rem;
	font-weight: 500;
}

.TextField {
	width: 100%;
	padding: 8px 12px;
	border-radius: var(--border-radius);
	background-color: var(--color-primary-muted);
}
.TextField__input {
	width: 100%;
	border: none;
	background-color: transparent;
}

.NoteList {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Note {
	border-radius: var(--border-radius);
	padding: 0.75rem;
	box-shadow: 0px 4px 16px 0px #00000012;
	font-size: 0.875rem;
}
.Note__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Note__title {
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--color-text-on-primary-dark);
}
.Note__footer {
	font-size: 0.75rem;
	margin-top: 0.3rem;
	color: var(--color-text-on-primary-light);
}
.Note__actions {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}
.Note__action {
	background: none;
	border: none;
}
